*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
  background-color: #191717;
  height:80px;
}

h2{
  font-size: 30px;
  list-style: none;
  color:white;
  font-weight: bold;
}